<b>Select break times (dd-mm-yyyy):</b>

<table>
  <tr>
    <th><%= f.label "Break from" %></th>
    <th><%= f.label "Break to  " %></th>
  </tr><tr>
    <td><%= f.text_field :break_from, value: 
                f.object.break_from.nil? ?
                       '' : f.object.break_from.strftime("%d-%m-%Y"),
                size: 8 %></td>
    <td><%= f.text_field  :break_to, value: 
                f.object.break_to.nil? ? 
                       '' : f.object.break_to.strftime("%d-%m-%Y"),
                size: 8 %></td>
  </tr>
</table>
