<h1>Editing volunteer</h1>

<%= render 'form' %>
<%= @volunteer.orientation.numCurrParticipant = @volunteer.orientation.numCurrParticipant+1 %>
<%= link_to 'Show', @volunteer %> |
<%= link_to 'Back', volunteers_path %>
