// Place all the styles related to the fosterers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 
 /*
  Flowing boxes in the middle of page
  */
  #main-container{
    position: absolute;
    top: 0%;
    left: 20%;
  }
  #FosterBox{
    position: absolute;
    top: 450px;
    left: 00px;
  }
  #MotivationBox{
    position: absolute;
    top: 450px;
    left: 505px;
  }
  
  
  #PropertyBox{
    position :absolute;
    top: 900px;
    left: 505px;  
  }
  
  
  #TimeCommitmentBox{
    position :absolute;
    top: 1300px;
    left: 00px;  
  }
  
  
  
  #TermsAndConditionsBox{
    position :absolute;
    top: 2000px;
    left: 100px;  
  }
  
  
  #NextBox{
    position: absolute;
    top: 2500px;
    left: 250px;
  }
  
  /*
   Non resizeable textarea
   */
  textarea { resize: none; }
