// Place all the styles related to the fosterers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 
 /*
  Flowing boxes in the middle of page
  */
  #main-container{
    position: absolute;
    top: 0%;
    left: 20%;
  }
  #FosterBox{
    position: absolute;
    top: 450px;
    left: 50px;
  }
  #MotivationBox{
    position: absolute;
    top: 450px;
    left: 505px;
  }
  #NextBox{
    position: absolute;
    top: 780px;
    left: 505px;
  }
  
  /*
   Non resizeable textarea
   */
  textarea { resize: none; }