// Place all the styles related to the fosterers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


   
  #DetailsBox{
  position: absolute;
  top: 250px;
  left: 50px;
  }
  #ContactPersonBox{
  position: absolute;
  top: 250px;
  left: 500px;
  }
  #FosterBox{
  position: absolute;
  top: 700px;
  left: 500px;
  }
  #MotivationBox{
  position: absolute;
  top: 1050px;
  left: 50px;
  }
  #NextBox{
  position: absolute;
  top: 1700px;
  left: 500px;
  }
  
  
  #FosterBackLink{
  position: absolute;
  top: 1900px;
  left: 500px;
  }