// Place all the styles related to the volschedulers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#volschedule_table {
  border: 1px solid black;
  table-layout: fixed;
  width: 40%;
  background-color: #d5d5d5;
  position:relative;
  left: -300px;
  overflow: auto;
}

.weekday{
  background: #00FF00;
}

.volschedule_col {
  width: 100px;
}
